<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Ballots</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="no-scroll">

  <!--Prepared Speakers Section-->
  <ion-list radio-group>
    <ion-list-header>Prepared Speech</ion-list-header>

    <ion-item *ngFor="let speaker of preparedSpeakers">
      <ion-label>{{speaker.name}}</ion-label>
      <ion-radio (click)="makeSelection('preparedSpeakers', speaker)" [disabled]="hasVotedFor('preparedSpeakers')"></ion-radio>
    </ion-item>
  </ion-list>

  <button ion-button block (click)="submitVoteFor('preparedSpeakers')" [disabled]="hasVotedFor('preparedSpeakers')">Submit</button>

  <div *ngIf="selectedSpeaker['preparedSpeakers']" padding>
    You have voted for <b>{{selectedSpeaker['preparedSpeakers']}}</b>
  </div>

  <!--Table Topics Section-->
  <ion-list radio-group>
    <ion-list-header>Table Topics</ion-list-header>

    <ion-item *ngFor="let speaker of ttSpeakers" >
      <ion-label>{{speaker.name}}</ion-label>
      <ion-radio (click)="makeSelection('ttSpeakers', speaker)" [disabled]="hasVotedFor('ttSpeakers')">
      </ion-radio>
    </ion-item>
  </ion-list>

  <button ion-button block (click)="submitVoteFor('ttSpeakers')" [disabled]="hasVotedFor('ttSpeakers')">Submit</button>

  <div *ngIf="selectedSpeaker['ttSpeakers']" padding>
    You have voted for <b>{{selectedSpeaker['ttSpeakers']}}</b>
  </div>

  <!--Evaluators Section-->
  <ion-list radio-group>
    <ion-list-header>Evaluations</ion-list-header>

    <ion-item *ngFor="let speaker of evaluators" >
      <ion-label>{{speaker.name}}</ion-label>
      <ion-radio (click)="makeSelection('evaluators', speaker)" [disabled]="hasVotedFor('evaluators')" checked="selectedSpeaker['evaluators']">
      </ion-radio>
    </ion-item>
  </ion-list>

  <button ion-button block (click)="submitVoteFor('evaluators')" [disabled]="hasVotedFor('evaluators')">Submit</button>

  <div *ngIf="selectedSpeaker['evaluators']" padding>
    You have voted for <b>{{selectedSpeaker['evaluators']}}</b>
  </div>

  <!--Big 3 Section-->
  <ion-list radio-group>
    <ion-list-header>Big 3</ion-list-header>

    <ion-item *ngFor="let speaker of big3" >
      <ion-label>{{speaker.role}}</ion-label>
      <ion-label>{{speaker.name}}</ion-label>
      <ion-radio (click)="makeSelection('big3', speaker)" [disabled]="hasVotedFor('big3')">
      </ion-radio>
    </ion-item>
  </ion-list>

  <button ion-button block (click)="submitVoteFor('big3')" [disabled]="hasVotedFor('big3')">Submit</button>

  <div *ngIf="selectedSpeaker['big3']" padding>
    You have voted for <b>{{selectedSpeaker['big3']}}</b>
  </div>

</ion-content>
